* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

.banner-content {
    padding: 216px 75px;
    margin-left: 845px;
}

.banner-title {
    width: 525px;
    height: 228px;
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: white;
    width: 525px;
    height: 78px;
    margin-top: 24px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    background: white;
    border: none;
    border-radius: 5px;
    margin-top: 32px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
}

/* failures section starts */
.failures {
    margin: 130px 250px 0;
    display: flex;
}

.failure-img {
    height: 725px;
}

.failure-content {
    margin-top: 285px;
    margin-left: 85px;
}

.failure-content h2 {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.failure-content p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}

.failure-content ul {
    margin-top: 16px;
    list-style: none;
    color: #444343;
    line-height: 26px;
}

.faicon-check {
    color: rgba(22, 216, 135, 1);
}

/* plans section starts */
.plans {
    margin: 130px 230px 0;
}

.plans h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
}

.plan-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.plan {
    margin: 0 18px;
    text-align: center;
}

.plan h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
    width: 270px;
}

.plan p {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* call section starts */
.call {
    margin: 125px 230px 0;
    background-image: url("../images/watch.png"), url("../images/gradient3.png");
    background-repeat: no-repeat;
    padding: 60px 65px 60px;
    background-blend-mode: overlay;
}

.call-content {
    width: 450px;
}

.call-content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}